@import url(css/reset.css);

#s1 ul {
    background: yellow;
    height: 500px;
    position: relative; /*부모를 기준으로하고 싶을떄*/
}

#s1 li:nth-child(1){
    background: red;
}

#s1 li:nth-child(2){
    background: green;
    position: absolute;
    left: 0px;
    top: 0px;
}

#s1 li:nth-child(3){
    background: blue;
}