#header{
    height: 70px;
    background-color: yellow;
}

#visual{
    height: 171px;
    background-color: green;
}

#body{
    height: 300px;
    background-color: hotpink;
}

#footer{
    height: 100px;
    background-color: indigo;
}

